<div class="carded" fxFlex style="padding: 20px 25px">
  <div *ngIf="user" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <app-initials-avatar [firstLetter]="user.firstName.charAt(0)" [secondLetter]="user.lastName.charAt(0)"></app-initials-avatar>
    <div>{{user.firstName}} {{user.lastName}}</div>
  </div>

  <mat-divider style="margin: 20px 0"></mat-divider>

  <form #form="ngForm"
        name="form"
        [formGroup]="fg"
        (ngSubmit)="onSubmit()"
        novalidate
        fxLayout="column"
  >
    <div fxLayout="column"
         fxLayoutAlign="start stretch"
         fxLayout.gt-xs="row"
         fxLayoutGap="0"
         fxLayoutAlign.gt-xs="start center"
         fxLayoutGap.gt-xs="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Email</mat-label>
        <label>
          <input matInput value="email@example.com" disabled>
        </label>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Codice utente</mat-label>
        <label>
          <input matInput value="d4mn3d" disabled>
        </label>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Nome Utente</mat-label>
      <label>
        <input matInput type="password" formControlName="username">
      </label>
      <mat-error *ngIf="fg.get('username')?.hasError('required')">
        Inserisci il tuo nome utente
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="fg.get('firstName')?.hasError('required')">
        Inserisci il tuo nome
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cognome</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="fg.get('lastName')?.hasError('required')">
        Inserisci il tuo cognome
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Società</mat-label>
      <input matInput formControlName="company">
      <mat-error *ngIf="fg.get('company')?.hasError('required')">
        Inserisci il nome della società
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
      <button type="button" mat-button color="primary" (click)="onCancel()">Annulla</button>
      <button type="submit" mat-raised-button [disabled]="isLoading"
              color="accent">Salva
      </button>
    </div>
  </form>
</div>
