<div fxFlexFill class="content" fxLayout="column" fxLayoutAlign="center center">

  <ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="SetPasswordState.email">
      <div class="form-wrapper" fxLayout="column" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
        <div class="form">

          <div class="logo">
            <img alt="logo" src="assets/images/cibame-logo.png">
          </div>

          <div class="title" i18n>Inserisci l'email</div>

          <form #form="ngForm" name="forgotPasswordForm" [formGroup]="fg" novalidate (ngSubmit)="sendEmailForm()">

            <mat-form-field appearance="outline" [@animate]="{value:'*',params:{duration:'700ms',y:'70px'}}">
              <mat-label i18n="@@form.email">Email</mat-label>
              <input matInput formControlName="email" id="email" (input)="fg.get('email')?.setErrors(null)">
              <mat-icon matSuffix class="material-icons-outlined">mail</mat-icon>
              <mat-error *ngIf="fg.get('email')?.hasError('required') && form.submitted" i18n="@@form.email.error.required">
                Inserire l'email
              </mat-error>
              <mat-error *ngIf="fg.get('email')?.hasError('email')" i18n="@@form.email.error.notValid">
                Inserire una email valida
              </mat-error>
            </mat-form-field>

            <button mat-raised-button class="submit-button" color="accent"
                    aria-label="SEND CODE" type="submit" fxLayout="row" fxLayoutAlign="center center">
              <span *ngIf="!loading" i18n>Invia codice</span>
              <span *ngIf="loading">
                <mat-progress-spinner mode="indeterminate" color="primary" [diameter]="18"></mat-progress-spinner>
              </span>
            </button>

          </form>

          <div class="login" fxLayout="column" fxLayoutAlign="center center">
            <a class="link" routerLink="../login" i18n="@@action.backToLogin">Torna al login</a>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="SetPasswordState.code">
      <div class="form-wrapper" fxLayout="column" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
        <div class="form">

          <div class="logo">
            <img alt="logo" src="assets/images/cibame-logo.png">
          </div>

          <div class="title" i18n>Inserisci il codice</div>

          <form #form="ngForm" name="forgotPasswordForm" [formGroup]="fg" novalidate (ngSubmit)="sendCodeForm()">

            <mat-form-field appearance="outline">
              <mat-label i18n="@@form.code">Codice</mat-label>
              <input matInput formControlName="code" id="code" (input)="fg.get('code')?.setErrors(null)">
              <mat-icon matSuffix class="material-icons-outlined">lock</mat-icon>
              <mat-error *ngIf="fg.get('code')?.hasError('required') && form.submitted" i18n="@@form.code.error.required">
                Inserisci il codice che hai ricevuto al tuo indirizzo email
              </mat-error>
              <mat-error *ngIf="fg.get('code')?.hasError('notFound') && form.submitted" i18n="@@form.code.error.notFound">
                L'email e/o il codice non corrispondono
              </mat-error>
            </mat-form-field>

            <button mat-raised-button class="submit-button" color="accent"
                    aria-label="CHECK CODE" type="submit" fxLayout="row" fxLayoutAlign="center center">
          <span *ngIf="!loading" i18n>
            Controlla il codice
          </span>
              <span *ngIf="loading">
            <mat-progress-spinner mode="indeterminate" color="primary" [diameter]="18"></mat-progress-spinner>
          </span>
            </button>
          </form>

          <div class="login" fxLayout="column" fxLayoutAlign="center center">
            <a class="link" routerLink="../login" i18n="@@action.backToLogin">Torna al login</a>
            <span i18n>o</span>
            <a class="link" (click)="state = SetPasswordState.email" style="cursor: pointer;" i18n>Rispedisci l'email</a>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="SetPasswordState.password">
      <div class="form-wrapper" fxLayout="column" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
        <div class="form">

          <div class="logo">
            <img alt="logo" src="assets/images/cibame-logo.png">
          </div>

          <div class="title" i18n>Inserisci la password</div>

          <form #form="ngForm" name="forgotPasswordForm" [formGroup]="fg" novalidate (ngSubmit)="sendPasswordForm()">

            <mat-form-field appearance="outline">
              <mat-label i18n="@@form.password">Password</mat-label>
              <input matInput type="password" formControlName="password" id="password" (input)="fg.get('password')?.setErrors(null)">
              <mat-icon matSuffix class="material-icons-outlined">vpn_key</mat-icon>
              <mat-error i18n="@@form.password.error.required">
                Inserisci la password
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label i18n="@@form.passwordConfirm">Conferma password</mat-label>
              <input matInput type="password" formControlName="passwordConfirm" id="passwordConfirm"
                     (input)="fg.get('passwordConfirm')?.setErrors(null)">
              <mat-icon matSuffix class="material-icons-outlined">more_horiz</mat-icon>
              <mat-error *ngIf="fg.get('passwordConfirm')?.hasError('required') && form.submitted"
                         i18n="@@form.passwordConfirm.error.required">
                Inserisci nuovamente la password
              </mat-error>
              <mat-error *ngIf="fg.get('passwordConfirm')?.hasError('passwordMismatch') && form.submitted"
                         i18n="@@form.passwordConfirm.error.mismatch">
                La password non corrisponde
              </mat-error>
            </mat-form-field>

            <button mat-raised-button class="submit-button" color="accent"
                    aria-label="SET PASSWORD" type="submit" fxLayout="row" fxLayoutAlign="center center">
              <span *ngIf="!loading" i18n="@@action.setPassword">
                Imposta la password
              </span>
              <span *ngIf="loading">
                <mat-progress-spinner mode="indeterminate" color="primary" [diameter]="18"></mat-progress-spinner>
              </span>
            </button>
          </form>

          <div class="login" fxLayout="column" fxLayoutAlign="center center">
            <a class="link" routerLink="../login" i18n="@@action.cancel">
              Annulla
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

</div>
