<div class="carded" fxFlex style="padding: 20px 25px">
  <form #form="ngForm"
        name="form"
        [formGroup]="fg"
        (ngSubmit)="onSubmit()"
        novalidate
        fxLayout="column"
  >
    <p>Qui potrai cambiare la tua password corrente</p>
    <mat-form-field appearance="outline">
      <mat-label>Vecchia password</mat-label>
      <label>
        <input matInput type="password" formControlName="oldPassword">
      </label>
      <mat-error *ngIf="fg.get('oldPassword')?.hasError('required')">
        Inserisci la tua password corrente
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nuova password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="fg.get('password')?.hasError('required')">
        Inserisci la nuova password
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Inserisci nuovamente la password</mat-label>
      <input matInput type="password" formControlName="passwordConfirm">
      <mat-error *ngIf="fg.get('passwordConfirm')?.hasError('required')">
        Ripeti la nuova password
      </mat-error>
      <mat-error *ngIf="fg.get('passwordConfirm')?.hasError('doesNotMatch')">
        Le password non corrispondono
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
      <button type="button" mat-button color="primary" (click)="onCancel()">Annulla</button>
      <button type="submit" mat-raised-button [disabled]="isLoading"
              color="accent">Salva
      </button>
    </div>
  </form>
</div>
